In [2]:
import pandas as pd
import csv

basic = {}

df = pd.read_csv('./seoul_house_price.csv')

with open('./count_basic.csv', 'r', newline='', encoding='utf-8') as f:
    reader = csv.reader(f)
    for r in reader:
        basic[r[1]] = r[2].replace('가동', '가')
        
nohere = set()

encoder = {}

for v in [('문래동5가', '문래동'), ('문래동6가', '문래동'), ('보문동1가', '보문동'), ('광희동1가', '광희동'), ('영등포동3가', '영등포동'), ('영등포동1가', '영등포동'), ('청파동1가', '청파동'), ('회현동2가', '회현동'), ('문래동4가', '문래동'), ('동선동3가', '동선동'), ('문래동3가', '문래동'), ('삼선동3가', '삼선동'), ('장충동1가', '장충동'), ('안암동1가', '안암동'), ('삼선동5가', '삼선동'), ('문래동2가', '문래동'), ('회현동1가', '회현동'), ('영등포동2가', '영등포동'), ('삼선동4가', '삼선동'), ('영등포동4가', '영등포동'), ('성북동1가', '성북동'), ('동선동1가', '동선동'), ('영등포동5가', '영등포동'), ('장충동2가', '장충동'), ('청파동3가', '청파동'), ('영등포동7가', '영등포동'), ('필동1가', '필동'), ('동선동4가', '동선동'), ('영등포동8가', '영등포동'), ('영등포동6가', '영등포동')]:
    encoder[v[0]] = v[1]

def check(v, tar, no):
    if v not in tar:
        no.add(v)
    return v

def to_replace(v, tar):
    if v in tar:
        return tar[v]
    return v
    
df['sector'] = df['sector'].apply(lambda x : to_replace(x, encoder))
    
        
df['sector'].apply(lambda x: check(x, basic, nohere))

print(nohere)

{'온수동', '을지로6가', '성산동', '공릉동', '순화동', '원효로2가', '홍은동', '중화동', '산천동', '등촌동', '명륜1가', '사당동', '당산동4가', '인현동2가', '문배동', '번동', '하계동', '내수동', '신계동', '오류동', '상계동', '응암동', '고척동', '방배동', '동자동', '신내동', '도선동', '신영동', '오장동', '상일동', '남대문로5가', '을지로4가', '월계동', '시흥동', '면목동', '평동', '우면동', '노고산동', '이태원동', '신길동', '신대방동', '북가좌동', '양평동2가', '동소문동6가', '금호동3가', '도봉동', '예장동', '홍제동', '견지동', '이문동', '중곡동', '낙원동', '방화동', '정릉동', '미근동', '당산동', '구의동', '청암동', '남가좌동', '동소문동4가', '상수동', '암사동', '신창동', '가락동', '당산동1가', '충무로2가', '행당동', '천왕동', '하왕십리동', '충정로3가', '갈현동', '영천동', '당산동6가', '이촌동', '양평동4가', '개포동', '거여동', '중계동', '창전동', '홍익동', '독산동', '중동', '충정로2가', '서초동', '합동', '묵동', '상도동', '방이동', '성내동', '양재동', '용산동2가', '노량진동', '구기동', '명륜3가', '여의도동', '한강로3가', '논현동', '양평동3가', '관수동', '일원동', '하월곡동', '홍지동', '용두동', '문정동', '천호동', '신월동', '신공덕동', '휘경동', '충무로4가', '만리동2가', '명일동', '충무로3가', '목동', '양평동6가', '묵정동', '성수동2가', '방학동', '내발산동', '성수동1가', '정동', '냉천동', '동작동', '익선동', '금호동2가', '하중동', '봉천동', '금호동1가', '인현동1가', '창천동', '대치동', '마포동', '대림동', '한강로2가', '길음동', '구수동', '마천동', '경운동', '금호동4가', '원효로1가', '을지로5가', '충무로5가', '궁동', '답십리동', '대현동', '마곡동', '용산동5가', '홍파동', '송파동', '청진동', '신천동', '구로동', '현저동', '화곡동', '원남동', '역삼동', '저동2가', '토정동', '당산동5가', '연지동', '자양동', '개봉동', '교북동', '동교동', '동소문동7가', '상월곡동', '원효로4가', '전농동', '잠실동', '당산동2가', '반포동', '양평동5가', '갈월동', '을지로2가', '신정동', '당주동', '둔촌동', '상봉동', '원효로3가', '도원동', '자곡동', '인의동', '도곡동', '당산동3가', '수유동', '을지로3가', '한강로1가', '율현동', '창동', '신문로2가', '풍납동', '돈암동', '상왕십리동', '불광동', '수송동', '고덕동', '연건동', '양평동1가', '동빙고동', '흥인동', '쌍문동', '동소문동5가', '가양동', '쌍림동', '장안동', '망원동', '현석동', '명륜2가', '만리동1가', '서계동', '망우동', '관철동', '장위동'}

In [4]:
trans = [('문래동5가', '문래동'), ('문래동6가', '문래동'), ('보문동1가', '보문동'), ('광희동1가', '광희동'), ('영등포동3가', '영등포동'), ('영등포동1가', '영등포동'), ('청파동1가', '청파동'), ('회현동2가', '회현동'), ('문래동4가', '문래동'), ('동선동3가', '동선동'), ('문래동3가', '문래동'), ('삼선동3가', '삼선동'), ('장충동1가', '장충동'), ('안암동1가', '안암동'), ('삼선동5가', '삼선동'), ('문래동2가', '문래동'), ('회현동1가', '회현동'), ('영등포동2가', '영등포동'), ('삼선동4가', '삼선동'), ('영등포동4가', '영등포동'), ('성북동1가', '성북동'), ('동선동1가', '동선동'), ('영등포동5가', '영등포동'), ('장충동2가', '장충동'), ('청파동3가', '청파동'), ('영등포동7가', '영등포동'), ('필동1가', '필동'), ('동선동4가', '동선동'), ('영등포동8가', '영등포동'), ('영등포동6가', '영등포동')]

In [24]:
df.to_csv('process seoul house_price.csv', sep=',', na_rep='NaN', index=False)