In [4]:
import pandas as pd
import csv

basic = {}

with open('./count_basic.csv', 'r', newline='', encoding='utf-8') as f:
    reader = csv.reader(f)
    reader

df = pd.read_csv('./count_basic.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                2448 non-null   object
 1   Type                2448 non-null   object
 2   Build               2448 non-null   int64
 3   Dir                 2448 non-null   object
 4   minArea             2448 non-null   float64
 5   maxArea             2448 non-null   float64
 6   representativeArea  2448 non-null   float64
 7   floorAreaRatio      2448 non-null   int64
 8   minDeal             2448 non-null   int64
 9   maxDeal             2448 non-null   int64
 10  medianDeal          2216 non-null   float64
 11  minLease            2448 non-null   int64
 12  maxLease            2448 non-null   int64
 13  medianLease         1344 non-null   float64
 14  minDealUnit         2448 non-null   int64
 15  maxDealUnit         2448 non-null   int64
 16  medianDealUnit      2216 non-null   float64
 17  minLeaseUnit        2448 non-null   int64
 18  maxLeaseUnit        2448 non-null   int64
 19  medianLeaseUnit     1344 non-null   float64
 20  Lat                 2448 non-null   float64
 21  Lon                 2448 non-null   float64
 22  BUS                 2448 non-null   int64
 23  METRO               2448 non-null   int64
 24  INFANT              2448 non-null   int64
 25  PRESCHOOL           2448 non-null   int64
 26  SCHOOLPOI           2448 non-null   int64
 27  HOSPITAL            2448 non-null   int64
 28  PARKING             2448 non-null   int64
 29  MART                2448 non-null   int64
 30  CONVENIENCE         2448 non-null   int64
 31  WASHING             2448 non-null   int64
 32  BANK                2448 non-null   int64
 33  OFFICE              2448 non-null   int64
 34  sector              2448 non-null   object
dtypes: float64(9), int64(22), object(4)
memory usage: 669.5+ KB